<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[TMROverlay]*,[TmrOverlay.Core]*</Include>
          <Exclude>[TmrOverlay.App.Tests]*</Exclude>
          <ExcludeByFile>**/*.g.cs,**/*.Designer.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
